package ${package.Service};

import com.baomidou.mybatisplus.core.metadata.IPage;
import ${cfg.dtoPackage}.$!{entity}QueryDTO;
import $!{package.Entity}.$!{entity};
import com.mega.common.core.base.service.IMegaBaseService;

/**
 * $!{table.comment} 服务
 * @author $!{author}
 * @version 1.0
 * @since $!{date}
 */
public interface I${table.serviceName} extends IMegaBaseService<${entity}> {

    /**
     * 新增$!{table.comment}
     *
     * @param $!{table.entityPath} $!{table.comment}实体类
     * @return
     */
    void create($!{entity} $!{table.entityPath});

    /**
     * 编辑$!{table.comment}
     *
     * @param $!{table.entityPath} $!{table.comment}实体类
     * @return
     */
    void update($!{entity} $!{table.entityPath});

    /**
     * 根据id删除$!{table.comment}
     *
     * @param id 主键值
     * @return
     */
    void remove(Long id);

    /**
     * 分页查询
     *
     * @param page 分页参数,params 查询参数
     * @return
     */
    IPage<${entity}> listOfPage(IPage<${entity}> page, $!{entity}QueryDTO param);

}
